<!doctype html><html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bw.css') }}">
<title>RoWordNet</title>
<meta charset="UTF-8">
<meta name="keywords" content="RoWordNet, dictionary, language, translation">
<meta name="description" content="RoWordNet dictionary">
<!-- <h1>RoWordNet</h1> -->
<h2 class="logo">RoWordNet</h2>
</head>
<header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
</header>
<body>
{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>

