{% extends home.html %}
<p>Search term: <b>{{searchterm}}</b></p>
      <a href = "/searchform">Back to search!</a>
	  <div style="overflow-x:auto;">
	  <table class = "searchresults">
         <thead>
            <td><b>{{sourcelang}}</b></td>
            <td><b>{{targetlang}}</b></td>
            <!-- <td><b></b></td> -->
         </thead>
         {% for row in rows %}
            <tr>
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <!-- <td> {{ row["DE"]}}</td> -->
               <!-- <td>{{row['RO']}}</td>	 -->
            </tr>
         {% endfor %}
      </table></div>
      <a href = "/searchform">Back to search!</a>
   </body>
</html>